html {
  background: url(../images/baseball-field-loud.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#homeplate {
  position: absolute;
  bottom: 8%;
  right: 12%;
  height: 100px;
  width: 150px;
  background-color: transparent;
  color: white;
  font-weight: bolder;
}
#panel {
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25%;
  height: 50%;
  margin: auto;
  background-color: #f3f3f3
}
.selectors {
  width: 320px;
  height: 157px;
  background-image: url(../images/prevNext.png);
  background-position: 0px 0px;
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:text-bottom;
}
.prev-resized{
  width:16px;
  height:16px;
  background-position:0px 0px;
  background-size:32px 16px;
}
.next-resized{
  width:16px;
  height:16px;
  background-position:-16px 0px;
  background-size:32px 16px;
}

