html {
  background: url(../images/baseball-field-quiet.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.ui-datepicker-trigger {
  vertical-align: middle;
  cursor: pointer !important;
}
#cookieBanner {
    font-family: FreeMono, monospace;
    color: #fff;
    display: none;
    font-size: 16px;
    width: 900px;
    margin: 0px auto;
    padding: 12px;
    background-color: #000;
    border-bottom: solid 1px #ccc;
}
#cookieBannerClose {
    float: right;
    font-weight: bold;
    padding: 4px;
}

#cookieBannerActions {
    text-align: center;
    padding-top: 4px;
}
#searchDate {
  width: 140px;
  vertical-align:middle;
  margin-top:5px;
  text-align:center;
  font-weight:bold;
  font-size: 14px;
  font-family:none;
  border:none;
  cursor: pointer !important;
}

#ui-datepicker-div {
  font-size:18px;
  font-family: none;
}

#responseBB {
  margin-top: 50px;
}
#homeplate {
  position: absolute;
  bottom: 8%;
  right: 12%;
  height: 100px;
  width: 150px;
  background-color: transparent;
  color: white;
  font-weight: bolder;
}
.gamepaneltop {
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  background-color: white;
}

.gamepanelbottom {
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  background-color: coral;
}

#gamepanel {
  display: table;
  border-collapse: collapse;
  text-align:center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20%;
  height: 50%;
  margin: auto;
  padding: 10px;
  font-size: 22px;
}

#panel {
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25%;
  height: 50%;
  margin: auto;
  background-color: #f3f3f3
}
.selectors {
  width: 320px;
  height: 157px;
  background-image: url(../images/prevNext.png);
  background-position: 0px 0px;
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:text-bottom;
}
.prev-resized{
  width:16px;
  height:16px;
  background-position:0px 0px;
  background-size:32px 16px;
}
.next-resized{
  width:16px;
  height:16px;
  background-position:-16px 0px;
  background-size:32px 16px;
  padding-right: 10px;
}
