img.ui-datepicker-trigger {
  vertical-align: middle;
  cursor: pointer !important;
}

#searchDate {
  width: 115px;
  vertical-align:middle;
  margin-top:5px;
  text-align:center;
  font-weight:bold;
  font-size: 14px;
  font-family:none;
  border:none;
  cursor: pointer !important;
}

#ui-datepicker-div {
  font-size:12px;
  font-family: none;
}

#responseBB {
  margin-top: 10px;
}

#gamepanel {
  display: table;
  text-align:center;
  border-collapse: collapse;
  width: 100%;
}

.gamepanelbottom {
  background-color: coral;
}

#panel {
  display: inline-block;
  position: relative;
  background-color: #f3f3f3
}
.selectors {
  background-image: url(../images/prevNext.png);
  background-position: 0px 0px;
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:text-bottom;
}
.prev-resized{
  width:16px;
  height:16px;
  background-position:5px 0px;
  background-size:32px 16px;
}
.next-resized{
  width:16px;
  height:16px;
  background-position:-21px 0px;
  background-size:32px 16px;
}
