.prevent_mainpage_scroll,
.prevent_content_scroll {
	overflow:hidden;
}

/* Overlay style */
.overlay {	
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(61,61,61,0.9);	
	left:0;
	top:0;
	overflow-x:scroll;
	z-index: 16777271;
}

.overlay .et_pb_section {    
    background-color: transparent !important; 
}


.overlay {
-webkit-overflow-scrolling: touch;
}



.overlay > .et_pb_section > div {
	width:100%;
}


/* Overlay closing cross */
.overlay-container .overlay-close {
    width: auto;
    height: auto;
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 99991;
    font-size: 100px;
    line-height:60px;
    min-height: 15px;
	min-width:15px;
    color: #fff;
    background-color: transparent;
    font-family: inherit;
    font-weight: 300;
}

.overlay-container .overlay-close:after {
	content: ' ';
	display:block;
	font-size:70px;
	height:25px;
	width:25px;
	z-index:99;
	position:relative;
	visibility:hidden;
}

.overlay-container .overlay-close span.custom_btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.overlay-container .overlay-close:hover {
	opacity: .8;
}

.overlay-container .overlay-customclose-btn span {
	position:relative;
	top:-2px;
}

/* Effects overlay-hugeinc*/
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc .et_pb_section {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc .et_pb_section {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open .et_pb_section {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close .et_pb_section {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/* Effects overlay-corner*/
.overlay-corner {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(50px) translateX(50px);
	transform: translateY(50px) translateX(50px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.overlay-corner.open {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

/* Effects overlay-slidedown*/
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

/* Effects overlay-scale*/
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	
}

/* Effects overlay-door */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
	top: 0;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

/*.overlay-door .et_pb_section {
	position: absolute;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}*/

.overlay-door .et_pb_section,
.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open .et_pb_section,
.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close .et_pb_section,
.overlay-door.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* Effects overlay-contentpush*/
.overlay-contentpush {
	background: rgba(153,204,51,1);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.container2 {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;	
}

.container2.overlay-contentpush-open {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}
.container2::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container2.overlay-contentpush-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
/* Effects overlay-contentscale*/
.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.container3 {
	background: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.container3.overlay-contentscale-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
/* Effects overlay-cornershape*/
.overlay-cornershape {
	background: transparent;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.5s;
	transition: visibility 0s 0.5s;
}

.overlay-cornershape.open {
	visibility: visible;
	-webkit-transition: none;
	transition: none;
}

.overlay-cornershape svg {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay-cornershape .overlay-path {
	fill: rgba(153,204,51,0.9);
}

.overlay-cornershape .et_pb_section,
.overlay-cornershape .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.4s 0.4s;
	transition: opacity 0.4s 0.4s;
}

.overlay-cornershape.open .et_pb_section,
.overlay-cornershape.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.overlay-cornershape.close .et_pb_section,
.overlay-cornershape.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* Effects overlay-boxes*/
.overlay-boxes {
	background: transparent;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.8s;
	transition: visibility 0s 0.8s;
}

.overlay-boxes.open {
	visibility: visible;
	-webkit-transition: none;
	transition: none;
}

.overlay-boxes svg {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay-boxes svg path {
	fill: rgb(153,204,51);
	display: none;
}

.overlay-boxes .et_pb_section,
.overlay-boxes .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.8s;
	transition: opacity 0.5s 0.8s;
}

.overlay-boxes.open .et_pb_section,
.overlay-boxes.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.overlay-boxes.close .et_pb_section,
.overlay-boxes.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* Effects overlay-simplegenie */
.overlay-simplegenie {
	visibility: hidden;
	-webkit-transform: translateY(60%) scale(0);
	transform: translateY(60%) scale(0);
	-webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
	transition: transform 0.4s, visibility 0s 0.4s;
}

.overlay-simplegenie.open {
	visibility: visible;
	-webkit-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}

/* Effects overlay-genie*/
.overlay-genie {
	background: transparent;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
	transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
}

.overlay-genie.open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.overlay-genie svg {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay-genie .overlay-path {
	fill: rgba(153,204,51,0.9);
}

.overlay-genie .et_pb_section {
	opacity: 0;
	/*-webkit-transform: scale(0.8) translateY(-48%);
	transform: scale(0.8) translateY(-48%);*/
	-webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}

.overlay-genie .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.overlay-genie.open .et_pb_section,
.overlay-genie.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.overlay-genie.open .et_pb_section {
	/*-webkit-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);*/
}

.overlay-genie.close .et_pb_section,
.overlay-genie.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.overlay-genie .et_post_meta_wrapper .entry-title ,.overlay-boxes .et_post_meta_wrapper .entry-title {
    opacity: 0.9;
}
.overlay-genie .entry-content,.overlay-boxes .entry-content {
    opacity: 0.9;
}

#sidebar-overlay {
	position:absolute;
	top: -15px;
	z-index: -15;
}

.divi-overlay a, .divi-overlay {
	cursor: pointer;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 1024px)  {
	
	.prevent_mainpage_scroll_mobile {
		position: fixed;
	}
}


@media (max-height: 480px) {
	
	.overlay-container .overlay-close {
		
	}
}


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}