<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35450644-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'GA_TRACKING_ID', { 'anonymize_ip': true });
      gtag('config', 'UA-35450644-1');
    </script>

    <meta charset="UTF-8" />
    <title>Download and Push</title>
  </head>
  <body>
    <div>Transferring <span style="font-weight:bold;"><a href="{{ $.GameDownloadTitle }}">{{ $.GameTitle }}</a></span> (from {{ $.GameDate }}) to <a href="https://cloud.digitalocean.com/spaces?i=7d8740">Digital Ocean Spaces</a>.
      <br/><br/>It should appear on your phone shortly (please allow up to 10 minutes).
    </div>
  </body>
</html>
