<div id="responseBB">
  <section id="gamepanel" class="gamepaneltop" style="">
    <div style="display: table-row; padding:10px;">
      <div style="display: table-cell;padding:5px;">
        <a href="/bb" title="Play Ball!"><img src="images/glove.jpg" width="48px" style="vertical-align:middle;"></a>
      </div>
      <div style="display: table-cell;">
        <p style="margin:5px;">
          <a href="{{ .FavTeam.HomePage }}" title="{{ .FavTeam.Name }}">{{ .FavTeam.Name }}</a><!-- &nbsp;&nbsp;&nbsp;
          <a href="/bbAll?teamID={{ .FavTeam.ID }}"><img id="ball" style="vertical-align: middle;" src="images/pokemon.jpg" width="32px" alt="Gotta Catch 'Em All!" title="Gotta Catch 'Em All!" /></a> //-->
        </p>
        <p style="margin-top:5px;margin-bottom:10px;">Recent Games</p>
      </div>
      <div style="display: table-cell;padding:5px;">
        <a href="/" title="Offworld"><img src="images/homeplate.jpg" width="48px" style="vertical-align:middle;"></a>
      </div>
    </div>
  </section>
  <section id="gamepanel" class="gamepanelbottom">
  {{ range .FavGamesList }}
      {{ $date := .ReadableDate }}
      {{ range $key, $value := .Games }}
      <div style="display: table-row; margin-top: 20px;">
        {{ $away_team := index $value 0}}
        {{ $away_hp := index $value 1}}
        {{ $away_id := index $value 2}}
        {{ $away_abbrev := index $value 3}}
        {{ $home_team := index $value 4}}
        {{ $home_hp := index $value 5}}
        {{ $home_id := index $value 6}}
        {{ $home_abbrev := index $value 7}}
        {{ $id := index $value 8}}
        {{ $game_url := index $value 10}}
        <div style="display: table-cell; padding-left:15px; padding-bottom:10px;">
          <a href="/bbFavoriteTeam?id={{ $away_id }}" title="{{ $away_team }}"><img class="logo logo-small logo{{ $away_id }}" src="images/img_trans.gif"></a>
        </div>
        <div style="display:table-cell; padding:5px;text-align:center;vertical-align:middle;width:250px;"><a href="/bbStream?url={{ $game_url }}">{{ $date }}</a></div>
        <div style="display:table-cell; padding-right:15px; padding-bottom:10px;">
          <a href="/bbFavoriteTeam?id={{ $home_id }}" title="{{ $home_team }}"><img class="logo logo-small logo{{ $home_id }}" src="images/img_trans.gif"></a>
        </div>
      </div>
      {{ end }}
  {{ end }}
  </section>
</div>
