<div id="responseFav">
  <section id="panel" style="display: table; background-color: white; text-align:center;">
    <div style="display: table-row; padding:10px;">
      <div style="display: table-cell;padding:5px;"><a href="http://www.mlb.com/mediacenter/">MLB</a> Games from<br>{{$.Date}}</div>
    </div>
  </section>
  <section id="panel" style="display: table; background-color: white; text-align:center;">
    <div>
      <div style="display: table-cell;padding:5px;">
        <a href="/bbFavoriteTeam?id=."></a>
      </div>
      <div style="display:table-cell;padding:5px;text-align:center;vertical-align:middle;"></div>
      <div style="display:table-cell;padding:5px;">
        <a href="/bbFavoriteTeam?id=."></a>
      </div>
    </div>
  </section>
</div>
