<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>MLB Stream</title>
      <style type="text/css">
        .responsive-video {
          max-width: 100%;
          height: auto;
        }
      </style>
  </head>
  <body>
    <video class="responsive-video" autoplay controls>
      <source src="{{ . }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </body>
</html>
