{{define "header"}}
<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>Play ball!</title>
      <link rel="stylesheet" href="/css/bb.css"/>
      <link rel="stylesheet" href="/css/logos.css"/>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="js/bb.js" type="text/javascript" charset="utf-8"></script>
      <script src="//code.jquery.com/jquery-3.0.0.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script src="js/consent.js"></script>
  </head>

  <body>
    <div id="cookieBanner">
        <div id="cookieBannerClose"><a href="#">x</a></div>
        This website uses third party cookies exclusively to collect analytics data.
        If you continue browsing or close this notice, you will accept their use.
        <div id="cookieBannerActions">
            <a class="noconsent" href="impressum.html">Learn about this website's cookies</a>
            &mdash;
            <a class="denyConsent noconsent" href="#">Disallow cookies</a>
        </div>
    </div>
{{end}}
