{{define "header"}}
<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>Play ball!</title>
      <link rel="stylesheet" href="/css/bb.css"/>
      <link rel="stylesheet" href="/css/logos.css"/>
<!--  <link rel="stylesheet" href="css/webix.css" type="text/css" media="screen" charset="utf-8"/>
      <script src="js/webix.js" type="text/javascript" charset="utf-8"></script>-->
  </head>

  <body>
{{end}}
