<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>OffWorld {{if .Mobile}}Mobile{{end}}</title>

    <!-- Favicon crap -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3eKo6zvPQw">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3eKo6zvPQw">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3eKo6zvPQw">
    <link rel="manifest" href="/manifest.json?v=3eKo6zvPQw">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3eKo6zvPQw" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=3eKo6zvPQw">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    {{if not .Mobile}}
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal@2.34.0/js/jquery.terminal.min.js"></script>
    {{end}}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
        rel="stylesheet" />
    <link href="/css/offworld{{if .Mobile}}Mobile{{end}}.css" rel="stylesheet" />
    {{if not .Mobile}}
    <link href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.34.0/css/jquery.terminal.min.css" rel="stylesheet" />
    <link href="/css/jquery.terminal.css" rel="stylesheet" />
    {{end}}
</head>

<body>
    <section>
        {{if not .Mobile}}
        <div id="term1"></div>
        {{end}}
        <div id="links">
            <a href="javascript:mvvRoute('M%C3%BCnchen', 'Oberhatzkofen%20Kirche%2C%20Rottenburg%20a.d.%20Laaber');"><img
                    src="/images/ober.png" width="28px" alt="Coming home" title="Coming home"></a>&nbsp;&nbsp;
            <a href="javascript:mvvRoute('Oberhatzkofen%20Kirche%2C%20Rottenburg%20a.d.%20Laaber', 'M%C3%BCnchen');"><img
                    src="/images/munich.png" width="28px" height="32px" alt="Going to Munich"
                    title="Going to Munich"></a>&nbsp;&nbsp;
            <a href="/bb"><img src="/images/baseballSmall.png" width="32px" alt="MLB" title="Condensed MLB games"></a>
        </div>
        {{if not .Mobile}}
        <!-- HIDDEN / POP-UP DIVS -->
        <div class="ui-widget-content" id="weatherPopup">
            <p class="border">&nbsp;</p>
            <a class="closePopupButton" href="javascript:popupClose('weatherPopup');"><img class="closePopupIcon"
                    src="/images/close_button.png"></a>
            <div id="weatherreport">
                <div id="currentweather" style="float:left; clear:both;margin-top:-25px;margin-left:10px;">
                </div>
                <div id="forecastweather" style="float:left; clear:both;">
                </div>
            </div>
        </div>
        {{end}}
    </section>

    <footer>
        <div id="footerLeft">
            <a href="https://github.com/danackerson">Dan Ackerson</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="impressum.html">Impressum</a>
        </div>
        {{if not .Mobile}}
        <div id="footerRight">
            Background: <a href="https://alexruizart.deviantart.com/art/Starry-Night-215823393">"Starry Night" by Alex
                Ruiz</a>
        </div>
        {{end}}
    </footer>

    <script src="js/offworld.js"></script>
</body>

</html>