<div id="responseBB">
  <section id="panel" style="display: table; background-color: white; text-align:center;">
    <div style="display: table-row; padding:10px;">
      <div style="display: table-cell;padding:5px;">
        <a href="/bb" title="Play Ball!"><img src="glove.jpg" width="48px" style="vertical-align:middle;"></a>
      </div>
      <div style="display: table-cell;">
        <p style="margin:5px;">
          <a href="mlb.com/favteamhomepage" title="FavTeamName">[FavTeamName]</a>
        <p style="margin-top:5px;margin-bottom:10px;">Recent Games</p>
      </div>
      <div style="display: table-cell;padding:5px;">
        <a href="/" title="Offworld"><img src="homeplate.jpg" width="48px" style="vertical-align:middle;"></a>
      </div>
    </div>
  </section>
  <section id="panel" style="display: table; background-color: white; text-align:center;float:left; display:inline;">
    <div id="panel1">
    </div>
  </section>
  <section id="panel" style="display: table; background-color: white; text-align:center;float:left; display:inline;">
    <div id="panel2">
    </div>
  </section>
  <section id="panel" style="display: table; background-color: white; text-align:center;float:left; display:inline;">
    <div id="panel3">
    </div>
  </section>
  <section id="panel" style="display: table; background-color: white; text-align:center;float:left; display:inline;">
    <div id="panel4">
    </div>
  </section>
  <script>
    fetchLast4WeeksForFavTeam(113);
  </script>
</div>
